Packages/User/Package Control.last-run
Packages/User/Package Control.merged-ca-bundle
Local/Session.sublime_session
Local/Auto Save Session.sublime_session
Packages/User/Package Control.cache
Installed Packages/PyV8/win64-p3/config.json
